body {
	background-color: #D2527F;
	color: white;
}

.container {
	margin: 0;
	width: 100%;
}

main {
	background-color: #59ABE3;
	padding: 10px;
	width: 85%;
	margin: 0 auto;
}

.navbar-brand {
	font-size: 36px;
}

hr {
	height: 3px;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 1px solid white;
	padding-top: 10px;
}

button {
	margin-right: 20px;
}